<link rel="stylesheet" href="stylesheets/members.css" />



<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="customHead">Jingle All The Way</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" id="logout">Log out</a>
                    </li>

                </ul>
            </div>
            <audio loop autoplay controls>
                <source src="/images/Trans-Siberian Orchestra Carol of the Bells.mp3" type="audio/mpeg">
            </audio>
        </div>
    </nav>
</main>
<div class="header">
    <div class="header-img">

    </div>
    <h1>Welcome {{ names }} <span class="member-name"></span></h1>


</div>

<!--left side of page container-->
<div class="container">
    <div class="row">
        <div class="col-3">
            <form class="create-form">
                <div class="input-group mb-3">
                    <input type="text" class="form-control mt-2" placeholder="ADD LIST"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary mt-2" type="submit" id="button-addon2">CREATE LIST</button>
                </div>
            </form>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Wish List</label>
                <ul class="list-group">
                    {{#each lists}}


                    {{> lists/list-block }}


                    {{/each}}

                </ul>

            </div>
        </div>




        <div class="col-7">
            <button class="btn btn-outline-secondary" id="imgload" type="button" disabled style="display: none;">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
            <button class="btn btn-outline-secondary mt-2 mb-2" type="submit" id="more-items">Load More Items</button>
            <button class="btn btn-outline-secondary mt-2 mb-2" type="submit" id="clear-etsy">REFRESH</button>
            <div class="row" id="etsy-items">

                {{#each etsys}}


                {{> etsy/etsy-block }}


                {{/each}}

            </div>
        </div>


        <div class="col-2">
            <div class="row justify-content-center">
                <div class="text justify-content-center">
                    <div class="outer" id="gifts-location">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="/js/featured.js">
</script>"