<div class="card shadow" style="width: 10rem">
    <div class="inner">
        <img src={{ image }} class="card-img-top" alt="..." />
        <div class="card-body text-center">

            {{ title }}
            <i class="fas fa-gift float-right text-success delete-note" data={{ id }} style="float: right;"></i>

        </div>
    </div>
</div>