<div class="card shadow" style="width: 10rem">
    <div class="inner">
        <img src={{ image }} class="card-img-top" alt="..." />
        <div class="card-body text-center">

            {{ title }}


        </div>
    </div>
</div>