<div class="card shadow m-1" style="width: 11rem">
    <div class="inner">
        <img src={{ image }} class="card-img-top" alt="..." />
        <div class="card-body text-justify">

            {{ title }}
            <i class="fas fa-gift  text-success delete-note" data={{ id }} style="float: right;"></i>

        </div>
    </div>
</div>