/* body {
    margin: 0;
} */
.header {
    /* background-color: cadetblue; */
    padding: 20px;
    text-align: center;
    color: rgb(250, 246, 246);
    /* font-size: 25px; */
    text-shadow: 2px 2px rgb(5, 5, 5);
    font-family: 'Mountains of Christmas', cursive;
    outline: none;
    background-image: url(../images/christmas_lights.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}

h1{
    font-size: 65px;
}

.inner{
    overflow: hidden;
}
.inner img {
    transition: all 1.5s ease;
    height: 150px;
}
.inner:hover img {
    transform: scale(1.5);
}

.rounded {
    height: 90vh;
    width: 200px;
}
#button-addon2 {
    color: black;
    background: gray;
}
#more-items {
    background: grey;
    color: white;
}
.form-label {
    color: rgb(58, 131, 10);
    font-size: 3rem;
}