body {
  background-attachment: fixed;
  background-color: #e44646;
  background-image: linear-gradient(
      to bottom,
      rgba(228, 225, 37, 0) 70%,
      rgb(233, 29, 29) 100%
    ),
    url(../images/ice.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.header {
  /* background-color: cadetblue; */
  padding: 20px;
  text-align: center;
  color: rgb(250, 246, 246);
  /* font-size: 40px;  */
  text-shadow: 2px 2px rgb(5, 5, 5);
  font-family: "Mountains of Christmas", cursive;
  outline: none;
  /* background-image: linear-gradient(to top, rgba(228, 225, 37, 0) 50%,rgb(0, 0, 0)100%),
    url(../images/christmas_lights.jpeg);
    background-size: cover;
    background-repeat: no-repeat; */

  width: 100%;
  height: 100px;
}

h1 {
  font-size: 65px;
}

.inner {
  overflow: hidden;
  font-size: 0.85rem;
}
.inner img {
  transition: all 1.5s ease;
  height: 150px;
  border: black solid 2px;
  box-shadow: 5px 4px 10px 2px #888888;
}
.inner:hover img {
  transform: scale(1.5);
}

.rounded {
  height: 90vh;
  width: 200px;
}
#button-addon2 {
  color: black;
  background: gray;
}
#more-items {
  background: grey;
  color: white;
}
.form-label {
  color: crimson;
  font-size: 3rem;
  font-family: "Mountains of Christmas", cursive;
}

.list-group {
  box-shadow: 8px 8px 5px 2px #888888;
  font-size: 1rem;
}

#customHead {
  animation-name: loco;
  animation-duration: 7s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@keyframes loco {
  0% {
    color: rgb(255, 0, 0);
  }
  10% {
    color: rgb(250, 84, 7);
  }
  20% {
    color: rgb(250, 205, 4);
  }
  30% {
    color: rgb(201, 252, 82);
  }
  40% {
    color: rgb(84, 250, 43);
  }
  50% {
    color: rgb(84, 250, 43);
  }
  60% {
    color: rgb(201, 252, 82);
  }
  70% {
    color: rgb(250, 205, 4);
  }
  80% {
    color: rgb(250, 84, 7);
  }
  90% {
    color: rgba(250, 44, 44);
  }
  100% {
    color: rgba(255, 0, 0);
  }
}

.gifthover:hover {
  background-color: red;
  border-color: green; /*set the color you want here*/
}
