form.signup,
form.login {
  margin-top: 50px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#snow-fall {
  width: 100%;
  height: 100vh;
  background: #262626 url(../images/snow2.jpeg);
  background-image: cover;
}
.banner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}
.banner h1 {
  font-size: 80px ;
  color: rgb(223, 11, 11);
  font-weight: 300;
  font-family: 'Mountains of Christmas', cursive;
  text-shadow: 2px 2px black;
  margin-bottom: 30px;
  /* animation-name: moveLeft loco;
  animation-duration: 2s; */
  animation-name: loco;
  animation-duration: 7s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}
@keyframes loco {

   0% {color: rgb(255, 0, 0);}
  10% {color: rgb(250, 84, 7);}
  20% {color: rgb(250, 205, 4);}
  30% {color: rgb(201, 252, 82);}
  40% {color: rgb(84, 250, 43);}
  50% {color: rgb(84, 250, 43);}
  60% {color: rgb(201, 252, 82);}
  70% {color: rgb(250, 205, 4);}
  80% {color: rgb(250, 84, 7);}
  90% {color: rgba(250, 44, 44,);}
  100% {color: rgba(255, 0, 0,);}
}    

.banner span {
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(223, 11, 11);
  animation-name: loco;
  animation-duration: 7s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 2s;

}
.banner p {
  font-size: 35px;
  font-weight: 300;
  text-shadow: 2px 2px rgb(5, 5, 5);
  color: ghostwhite;
  margin-bottom: 20px;
  animation-name: moveRight;
  animation-duration: 2s;
}
.banner button {
  width: 180px;
  padding: 12px;
  margin: 20px;
  border: 2px solid rgba(190, 38, 38, 0.384);
  border-radius: 50px;
  font-size: 18px;
  text-shadow: 2px 2px rgb(5, 5, 5);
  font-family: 'Mountains of Christmas', cursive;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.btn-left {
  background-color: rgba(226, 28, 28, 0.623);
  color: rgb(250, 250, 250);
  text-shadow: 2px 2px rgb(5, 5, 5);
  animation-name: animateBtn;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}
.btn-right {
  background-color:rgba(226, 28, 28, 0.623) ;
  color: rgb(250, 250, 250);
  animation-name: animateBtn;
  animation-duration: 1s;
  animation-delay: 2.5s;
  animation-fill-mode: backwards;
}


@keyframes moveLeft {
  0% {
      transform: translateX(120px);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes moveRight {
  0% {
      transform: translateX(-120px);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes animateBtn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
