{{!-- <li class="list-group-item ">{{ name }}

    <i class='fas fa-trash-alt float-right text-danger delete-note'></i>
</li> --}}

<li class="list-group-item"><span>{{ name }}</span><i class="fas fa-trash-alt float-right text-danger delete-note"
        style="float: right;"></i>
</li>