<div class="card shadow" style="width: 10rem">
    <div class="inner">
        <img src="images/playstation.jpeg" class="card-img-top" alt="..." />
        <div class="card-body text-center">

            {{ name }}


        </div>
    </div>
</div>